*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.textarea{

    border-radius: 7px;
    background-color: black;
    color: white;
    border-color: grey;
    cursor: pointer;
    transition: border-color 0.3s ;
    border-width: 6px;
    width: 250px;
    padding: 7px;
}

.button{
    background-color: black;
    border-color: gray;
    border-radius: 7px;
    border-width: 5px;
    height: 50px;
    width: 100px;
    color: aliceblue;
    transition: border-color 0.3s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.titre{
   text-align: center;
   border: 30px;
   color: red;
   transition: color 0.3s;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    gap: 30px;
}

.div-btn{
    display: flex;
    gap: 15px;
}

.button:hover{
    border-color: red;
}

.textarea:hover{
    border-color: red;
}

.titre:hover{
    color: crimson;
    animation: ease-in-out;
    cursor: pointer;
}